h1, h2, h3 {
    text-align: center;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 0;
}

p {
    text-align: center;
    margin: 0 0 0 0;
}

.google {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4285F4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}